<section id="home" class="home d-flex light align-items-center">
    <div class="container">
        <!-- intro -->
        <div class="intro">
            <!-- avatar image -->
            <img src="{{avatar}}"  class="mb-4" width="{{avatar_scale}}em" height="{{avatar_scale}}em"/>
            <!-- info -->
            <h1 class="mb-2 mt-0">{{name}}</h1>
            <span>I'm a <span class="text-rotating">{{whoami}}</span></span>
            <!-- social icons -->
            <ul class="social-icons light list-inline mb-0 mt-4">
                {{socialsites}}
            </ul>
            <!-- buttons -->
            {{button}}
        </div>
        <!-- parallax layers -->
        {{parallax}}
    </div>
</section>